.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button {
    padding-left: 17px;
}

.search-button {
    position: relative;

}

.search-button>input {
    z-index: 0;
    right: 0px;
    border: 1px solid orange;
    background-color: rgba(244, 244, 244, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    /* width: 100%; */
    border-radius: 50px;
}

.name-search {
    color: white;
    background-color: orange;
    border-radius: 50px;
    border: 1px solid orange;
    padding: 10px;
    /* margin: 2px; */
    right: 0px;
    cursor: pointer;
    position: absolute;
}

.logo-img {
    width: 100px;
}

.header-container {
    /* margin: 5px; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-items-container {
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 50px;
    align-self: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.nav-items-container>ul {
    display: flex;
    margin: 8px 8px 12px -30px;
}

.nav-items-container>ul>li {
    list-style-type: none;
    padding: 10px;
    color: #b6b6b6;
    font-weight: bold;
    cursor: pointer;
    font-family: monospace;
}

.nav-items-container>ul>li:hover {
    background: orange;
    color: white;
    border-radius: 50px;
}

.side-buttons>ul {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 50px;
    align-self: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.side-buttons>ul>li {
    list-style-type: none;
    padding: 7px;

}

.side-buttons>ul>li>img {
    height: 25px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.cards-container {
    margin: 0px auto;
    padding-top: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 10px 10px 40px 2px rgba(128, 128, 128, 0.4);
    display: inline-block;
    width: 220px;
    border-radius: 10px;
    margin: 2px;
}

.card .card-media {
    /* background-image: url(https://images.unsplash.com/photo-1615719413546-198b25453f85?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMDQwMjkwNA&ixlib=rb-1.2.1&q=85); */
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    object-fit: fit;
    border-radius: 10px 10px 0 0;
    position: relative;
}



.card .card-media .delivery-time {
    position: absolute;
    background-color: #f5f5f5;
    max-width: 60px;
    padding: 3px 6px;
    font-size: 12px;
    right: 3%;
    bottom: 6%;
    border-radius: 4px;
}

.card .card-description {
    padding: 10px;
}

.card .card-description .about-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .card-description .about-place .place-name {
    font-weight: 600;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
}

.card .card-description .about-place .place-speciality,
.card .card-description .about-place .per-person {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.97);
}

.card .card-description .about-place .rating {
    font-size: 14px;
    border-radius: 4px;
    background-color: #0a6d0acc;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 2px 0;
    margin-bottom: 6px;
    margin-left: 30px;
}

.btn-rating {
    color: white;
    background-color: orange;
    border-radius: 50px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

.outer-container {
    /* padding: 20px; */
    height: 50px;
    /* margin: 5px; */
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    /* margin-top: 55px; */
    gap: 22px;
    justify-content: center;

}

.shimmer-card {
    background-color: #f0f0f0;
    /* box-shadow: 10px 10px 40px 2px rgba(128, 128, 128, 0.4); */
    display: inline-block;
    width: 220px;
    border-radius: 10px;
    margin: 2px;
    height: 170px;
    position: relative;
}

.title-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.delivery-shimmer {
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: #b6b6b6;
    height: 14px;
    width: 40px;
    border-radius: 30px;

}

.title-container .shimmer-card-title {
    background-color: #b6b6b6;
    height: 14px;
    width: 120px;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 50%, #f0f0f0 90%);
    animation: shimmer 1.5s infinite linear;

}

.title-container.shimmer-card-rating {
    display: flex;

}

.shimmer-card-rating span {
    color: #f0f0f0;
    height: 200px;
    width: 20px;


}

.shimmer-cuisines {
    background-color: #b6b6b6;
    height: 14px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 50%, #f0f0f0 90%);
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 100px;
    }
}

.buttons-container-shimmer {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0px;
}

.shimmer-btn {
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    margin: 10px;
}

/* .shimmers .shimmer-container:first-child {
    margin-top: 10px;
} */

.main-div {
    /* min-height: 800px; */
    max-width: 800px;
    margin: 20px auto 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.d-time {
    display: flex;
}